<a href="https://colab.research.google.com/github/hsantos1985/R-Jobs/blob/main/REVERSAO_DE_TRANSFORMACAO_SERIE_TEMPORAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##SCRIPT NO R CONTENDO CONCEITOS DE REVERSÃO DE TRANSFORMAÇÃO E DIFERENCIAÇÃO DE SÉRIES TEMPORAIS

####1-TESTANDO NORMALIDADE E REALIZANDO TRANSFORMAÇÕES

In [1]:
#configuração dos gráficos
options(repr.plot.width = 19, repr.plot.height = 10)

In [2]:
# Nmúero de passageiros aéreos entre 1949 a 1960

passageiros <- AirPassengers
passageiros

     Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
1949 112 118 132 129 121 135 148 148 136 119 104 118
1950 115 126 141 135 125 149 170 170 158 133 114 140
1951 145 150 178 163 172 178 199 199 184 162 146 166
1952 171 180 193 181 183 218 230 242 209 191 172 194
1953 196 196 236 235 229 243 264 272 237 211 180 201
1954 204 188 235 227 234 264 302 293 259 229 203 229
1955 242 233 267 269 270 315 364 347 312 274 237 278
1956 284 277 317 313 318 374 413 405 355 306 271 306
1957 315 301 356 348 355 422 465 467 404 347 305 336
1958 340 318 362 348 363 435 491 505 404 359 310 337
1959 360 342 406 396 420 472 548 559 463 407 362 405
1960 417 391 419 461 472 535 622 606 508 461 390 432

In [3]:
#transformação da série em log natural
passageiros2<-
  log(passageiros)

passageiros2

     Jan      Feb      Mar      Apr      May      Jun      Jul      Aug
1949 4.718499 4.770685 4.882802 4.859812 4.795791 4.905275 4.997212 4.997212
1950 4.744932 4.836282 4.948760 4.905275 4.828314 5.003946 5.135798 5.135798
1951 4.976734 5.010635 5.181784 5.093750 5.147494 5.181784 5.293305 5.293305
1952 5.141664 5.192957 5.262690 5.198497 5.209486 5.384495 5.438079 5.488938
1953 5.278115 5.278115 5.463832 5.459586 5.433722 5.493061 5.575949 5.605802
1954 5.318120 5.236442 5.459586 5.424950 5.455321 5.575949 5.710427 5.680173
1955 5.488938 5.451038 5.587249 5.594711 5.598422 5.752573 5.897154 5.849325
1956 5.648974 5.624018 5.758902 5.746203 5.762051 5.924256 6.023448 6.003887
1957 5.752573 5.707110 5.874931 5.852202 5.872118 6.045005 6.142037 6.146329
1958 5.828946 5.762051 5.891644 5.852202 5.894403 6.075346 6.196444 6.224558
1959 5.886104 5.834811 6.006353 5.981414 6.040255 6.156979 6.306275 6.326149
1960 6.033086 5.968708 6.037871 6.133398 6.156979 6.282267 6.432940 6.406880
     Sep      Oct      Nov      Dec
1949 4.912655 4.779123 4.644391 4.770685
1950 5.062595 4.890349 4.736198 4.941642
1951 5.214936 5.087596 4.983607 5.111988
1952 5.342334 5.252273 5.147494 5.267858
1953 5.468060 5.351858 5.192957 5.303305
1954 5.556828 5.433722 5.313206 5.433722
1955 5.743003 5.613128 5.468060 5.627621
1956 5.872118 5.723585 5.602119 5.723585
1957 6.001415 5.849325 5.720312 5.817111
1958 6.001415 5.883322 5.736572 5.820083
1959 6.137727 6.008813 5.891644 6.003887
1960 6.230481 6.133398 5.966147 6.068426

In [4]:
#reversão da transformação
reversao_passageiros2<-
  exp(passageiros2)
reversao_passageiros2

     Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
1949 112 118 132 129 121 135 148 148 136 119 104 118
1950 115 126 141 135 125 149 170 170 158 133 114 140
1951 145 150 178 163 172 178 199 199 184 162 146 166
1952 171 180 193 181 183 218 230 242 209 191 172 194
1953 196 196 236 235 229 243 264 272 237 211 180 201
1954 204 188 235 227 234 264 302 293 259 229 203 229
1955 242 233 267 269 270 315 364 347 312 274 237 278
1956 284 277 317 313 318 374 413 405 355 306 271 306
1957 315 301 356 348 355 422 465 467 404 347 305 336
1958 340 318 362 348 363 435 491 505 404 359 310 337
1959 360 342 406 396 420 472 548 559 463 407 362 405
1960 417 391 419 461 472 535 622 606 508 461 390 432

In [5]:
#transformação com logaritmo base 10
passageiros3<-
  log10(passageiros)

passageiros3

     Jan      Feb      Mar      Apr      May      Jun      Jul      Aug
1949 2.049218 2.071882 2.120574 2.110590 2.082785 2.130334 2.170262 2.170262
1950 2.060698 2.100371 2.149219 2.130334 2.096910 2.173186 2.230449 2.230449
1951 2.161368 2.176091 2.250420 2.212188 2.235528 2.250420 2.298853 2.298853
1952 2.232996 2.255273 2.285557 2.257679 2.262451 2.338456 2.361728 2.383815
1953 2.292256 2.292256 2.372912 2.371068 2.359835 2.385606 2.421604 2.434569
1954 2.309630 2.274158 2.371068 2.356026 2.369216 2.421604 2.480007 2.466868
1955 2.383815 2.367356 2.426511 2.429752 2.431364 2.498311 2.561101 2.540329
1956 2.453318 2.442480 2.501059 2.495544 2.502427 2.572872 2.615950 2.607455
1957 2.498311 2.478566 2.551450 2.541579 2.550228 2.625312 2.667453 2.669317
1958 2.531479 2.502427 2.558709 2.541579 2.559907 2.638489 2.691081 2.703291
1959 2.556303 2.534026 2.608526 2.597695 2.623249 2.673942 2.738781 2.747412
1960 2.620136 2.592177 2.622214 2.663701 2.673942 2.728354 2.793790 2.782473
     Sep      Oct      Nov      Dec
1949 2.133539 2.075547 2.017033 2.071882
1950 2.198657 2.123852 2.056905 2.146128
1951 2.264818 2.209515 2.164353 2.220108
1952 2.320146 2.281033 2.235528 2.287802
1953 2.374748 2.324282 2.255273 2.303196
1954 2.413300 2.359835 2.307496 2.359835
1955 2.494155 2.437751 2.374748 2.444045
1956 2.550228 2.485721 2.432969 2.485721
1957 2.606381 2.540329 2.484300 2.526339
1958 2.606381 2.555094 2.491362 2.527630
1959 2.665581 2.609594 2.558709 2.607455
1960 2.705864 2.663701 2.591065 2.635484

In [6]:
#reversao da transformação
reversao_passageiros3<-
  10^(passageiros3)

reversao_passageiros3

     Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
1949 112 118 132 129 121 135 148 148 136 119 104 118
1950 115 126 141 135 125 149 170 170 158 133 114 140
1951 145 150 178 163 172 178 199 199 184 162 146 166
1952 171 180 193 181 183 218 230 242 209 191 172 194
1953 196 196 236 235 229 243 264 272 237 211 180 201
1954 204 188 235 227 234 264 302 293 259 229 203 229
1955 242 233 267 269 270 315 364 347 312 274 237 278
1956 284 277 317 313 318 374 413 405 355 306 271 306
1957 315 301 356 348 355 422 465 467 404 347 305 336
1958 340 318 362 348 363 435 491 505 404 359 310 337
1959 360 342 406 396 420 472 548 559 463 407 362 405
1960 417 391 419 461 472 535 622 606 508 461 390 432

In [7]:
#transformação raiz cúbica
passageiros4<-
  passageiros^(1/3)

passageiros4

     Jan      Feb      Mar      Apr      May      Jun      Jul      Aug
1949 4.820285 4.904868 5.091643 5.052774 4.946087 5.129928 5.289572 5.289572
1950 4.862944 5.013298 5.204828 5.129928 5.000000 5.301459 5.539658 5.539658
1951 5.253588 5.313293 5.625226 5.462556 5.561298 5.625226 5.838272 5.838272
1952 5.550499 5.646216 5.778997 5.656653 5.677411 6.018462 6.126926 6.231680
1953 5.808786 5.808786 6.179747 6.171006 6.118033 6.240251 6.415069 6.479224
1954 5.886765 5.728654 6.171006 6.100170 6.162240 6.415069 6.709173 6.641852
1955 6.231680 6.153449 6.439277 6.455315 6.463304 6.804092 7.140037 7.027106
1956 6.573138 6.518684 6.818462 6.789661 6.825624 7.204832 7.447034 7.398636
1957 6.804092 6.701759 7.087341 7.033850 7.080699 7.500741 7.747311 7.758402
1958 6.979532 6.825624 7.126936 7.033850 7.133492 7.576985 7.889095 7.963374
1959 7.113787 6.993191 7.404721 7.343420 7.488872 7.785993 8.183269 8.237661
1960 7.470999 7.312383 7.482924 7.725032 7.785993 8.118041 8.536178 8.462348
     Sep      Oct      Nov      Dec
1949 5.142563 4.918685 4.702669 4.904868
1950 5.406120 5.104469 4.848808 5.192494
1951 5.687734 5.451362 5.265637 5.495865
1952 5.934472 5.758965 5.561298 5.788960
1953 6.188463 5.953342 5.646216 5.857766
1954 6.374311 6.118033 5.877131 6.118033
1955 6.782423 6.495065 6.188463 6.526519
1956 7.080699 6.738664 6.471274 6.738664
1957 7.392542 7.027106 6.731315 6.952053
1958 7.392542 7.107194 6.767899 6.958943
1959 7.736188 7.410795 7.126936 7.398636
1960 7.979112 7.725032 7.306144 7.559526

In [8]:
#reversão raiz cúbica
reversao_passageiros4<-
  passageiros4^(3)
reversao_passageiros4

     Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
1949 112 118 132 129 121 135 148 148 136 119 104 118
1950 115 126 141 135 125 149 170 170 158 133 114 140
1951 145 150 178 163 172 178 199 199 184 162 146 166
1952 171 180 193 181 183 218 230 242 209 191 172 194
1953 196 196 236 235 229 243 264 272 237 211 180 201
1954 204 188 235 227 234 264 302 293 259 229 203 229
1955 242 233 267 269 270 315 364 347 312 274 237 278
1956 284 277 317 313 318 374 413 405 355 306 271 306
1957 315 301 356 348 355 422 465 467 404 347 305 336
1958 340 318 362 348 363 435 491 505 404 359 310 337
1959 360 342 406 396 420 472 548 559 463 407 362 405
1960 417 391 419 461 472 535 622 606 508 461 390 432

####DIFERENCIAÇÃO

In [10]:
#fazendo a diferenciação
dif_passageiros<-
  diff(passageiros)

dif_passageiros

     Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
1949         6   14   -3   -8   14   13    0  -12  -17  -15   14
1950   -3   11   15   -6  -10   24   21    0  -12  -25  -19   26
1951    5    5   28  -15    9    6   21    0  -15  -22  -16   20
1952    5    9   13  -12    2   35   12   12  -33  -18  -19   22
1953    2    0   40   -1   -6   14   21    8  -35  -26  -31   21
1954    3  -16   47   -8    7   30   38   -9  -34  -30  -26   26
1955   13   -9   34    2    1   45   49  -17  -35  -38  -37   41
1956    6   -7   40   -4    5   56   39   -8  -50  -49  -35   35
1957    9  -14   55   -8    7   67   43    2  -63  -57  -42   31
1958    4  -22   44  -14   15   72   56   14 -101  -45  -49   27
1959   23  -18   64  -10   24   52   76   11  -96  -56  -45   43
1960   12  -26   28   42   11   63   87  -16  -98  -47  -71   42

In [13]:
#revertendo a diferenciação
reversao_dif_passageiros<-
  diffinv(dif_passageiros, xi = 112)
reversao_dif_passageiros

     Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
1949 112 118 132 129 121 135 148 148 136 119 104 118
1950 115 126 141 135 125 149 170 170 158 133 114 140
1951 145 150 178 163 172 178 199 199 184 162 146 166
1952 171 180 193 181 183 218 230 242 209 191 172 194
1953 196 196 236 235 229 243 264 272 237 211 180 201
1954 204 188 235 227 234 264 302 293 259 229 203 229
1955 242 233 267 269 270 315 364 347 312 274 237 278
1956 284 277 317 313 318 374 413 405 355 306 271 306
1957 315 301 356 348 355 422 465 467 404 347 305 336
1958 340 318 362 348 363 435 491 505 404 359 310 337
1959 360 342 406 396 420 472 548 559 463 407 362 405
1960 417 391 419 461 472 535 622 606 508 461 390 432

In [14]:
#FAZENDO UMA SEGUNDA DIFERENCIAÇÃO
segunda_dif_passageiros<-
  diff(dif_passageiros)
segunda_dif_passageiros

     Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
1949              8  -17   -5   22   -1  -13  -12   -5    2   29
1950  -17   14    4  -21   -4   34   -3  -21  -12  -13    6   45
1951  -21    0   23  -43   24   -3   15  -21  -15   -7    6   36
1952  -15    4    4  -25   14   33  -23    0  -45   15   -1   41
1953  -20   -2   40  -41   -5   20    7  -13  -43    9   -5   52
1954  -18  -19   63  -55   15   23    8  -47  -25    4    4   52
1955  -13  -22   43  -32   -1   44    4  -66  -18   -3    1   78
1956  -35  -13   47  -44    9   51  -17  -47  -42    1   14   70
1957  -26  -23   69  -63   15   60  -24  -41  -65    6   15   73
1958  -27  -26   66  -58   29   57  -16  -42 -115   56   -4   76
1959   -4  -41   82  -74   34   28   24  -65 -107   40   11   88
1960  -31  -38   54   14  -31   52   24 -103  -82   51  -24  113

In [16]:
#reversao da seguna diferenciação
reversao_segunda_dif_passageiros1<-
    diffinv(segunda_dif_passageiros, xi =6)

reversao_segunda_dif_passageiros1

     Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
1949         6   14   -3   -8   14   13    0  -12  -17  -15   14
1950   -3   11   15   -6  -10   24   21    0  -12  -25  -19   26
1951    5    5   28  -15    9    6   21    0  -15  -22  -16   20
1952    5    9   13  -12    2   35   12   12  -33  -18  -19   22
1953    2    0   40   -1   -6   14   21    8  -35  -26  -31   21
1954    3  -16   47   -8    7   30   38   -9  -34  -30  -26   26
1955   13   -9   34    2    1   45   49  -17  -35  -38  -37   41
1956    6   -7   40   -4    5   56   39   -8  -50  -49  -35   35
1957    9  -14   55   -8    7   67   43    2  -63  -57  -42   31
1958    4  -22   44  -14   15   72   56   14 -101  -45  -49   27
1959   23  -18   64  -10   24   52   76   11  -96  -56  -45   43
1960   12  -26   28   42   11   63   87  -16  -98  -47  -71   42

In [17]:
reversao_segunda_dif_passageiros2<-
    diffinv(reversao_segunda_dif_passageiros1, xi =112)

reversao_segunda_dif_passageiros2

     Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
1949 112 118 132 129 121 135 148 148 136 119 104 118
1950 115 126 141 135 125 149 170 170 158 133 114 140
1951 145 150 178 163 172 178 199 199 184 162 146 166
1952 171 180 193 181 183 218 230 242 209 191 172 194
1953 196 196 236 235 229 243 264 272 237 211 180 201
1954 204 188 235 227 234 264 302 293 259 229 203 229
1955 242 233 267 269 270 315 364 347 312 274 237 278
1956 284 277 317 313 318 374 413 405 355 306 271 306
1957 315 301 356 348 355 422 465 467 404 347 305 336
1958 340 318 362 348 363 435 491 505 404 359 310 337
1959 360 342 406 396 420 472 548 559 463 407 362 405
1960 417 391 419 461 472 535 622 606 508 461 390 432